$widthDesktop: 1600px;
$widthMobile: 375px;
$widthTablet: 768px;
$widthContainer: 1140px;
$widthTabletContainer: 736px;
$widthMobileContainer: 358px;
$colorDarkText: #222222;
$colorSelectSite: #F16D7F;
$gapGrid: 30px;
$thirdSite: ($widthDesktop - 2*$gapGrid) / 3;
$imageHeight: 724px;
$productHeight: 600px;
$productPanelBottomMargin: 46px;
$productMargin: 128px;
$backBlock: #222;
$widthBurgerMenu: 232px;
